# Python-related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
ENV/
.venv/
.Python

# Django-specific
*.log
staticfiles/
static/
media/
db.sqlite3

# VS Code and Editor junk
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Environment variables and secrets
.env
.env.*
